Audit updated RFC impacts 

It appears some rfc referenced in the 2x specification and CDMI extension documents may have been updated. We should consider an audit on impacts, if any, to the cdmi 2x specification and associated extensions.

TWG will walk through RFCs and identify which RFCs have changed, and of those, which ones need to be assessed to determine if there are spec text changes required.

RFC 3530 - RFC 7530
RFC 3986
RFC 2119
RFC 7143
RFC 4727
RFC 4918
RFC 2617 - Determine use in spec, update depending on use
RFC 2045
RFC 2046
RFC 6839
RFC 5652
RFC 3280 - RFC 5280
RFC 4559
RFC 7518
RFC 7517
RFC 7515
RFC 7516
RFC 4648
RFC 1867 - RFC 2854
RFC 2578
RFC 2047
RFC 2616 - Determine use in spec, update depending on use
RFC 8446
RFC 5246 - RFC 8446
RFC 6208
RFC 6068

Six changes identified. Next step is to assess if any changes to the RFCs require spec changes in CDMI.

RFC 2617 - Only used in one place, 5.4.3, need to verify that header field names have not changed, and update to latest RFC version https://datatracker.ietf.org/doc/html/rfc7235

HTTP Basic is now a legacy scheme

Line 1027, change to "... it should not be used."

Line 1032, change "HTTP digest authentication should be implemented"

Line 1037, remove "typically"

Consider adding a diagram to section 5.4.3

RFC 2616 - Substantial changes needed to spec to update section numbers to update to RFC 9110 / 9112.

Need to verify if request methods (GET, POST, etc) still align with spec usage.

If conformance is tested against 2616, and we change it to 9110/9112, then any changes from 2616 to these newer RFCs that are breaking changes are also breaking changes for CDMI.

Uses of "ranges-specifier" should be replaced with "int-range or suffix-range". Change 14.31.1 to 14.1.1.


Verified latest current RFCs
RFC 3530 - RFC 7530
RFC 3986
RFC 2119
RFC 7143
RFC 4727
RFC 4918
RFC 2617 -> RFC 7617 - Determine use in spec, update depending on use
RFC 2045
RFC 2046
RFC 6839
RFC 5652
RFC 3280 - RFC 5280
RFC 4559
RFC 7518
RFC 7517
RFC 7515
RFC 7516
RFC 4648
RFC 1867 - RFC 2854
RFC 2578
RFC 2047
RFC 2616 ->  RFC 9110  - Determine use in spec, update depending on use
RFC 8446
RFC 5246 - RFC 8446
RFC 6208
RFC 6068